body {
    margin: 0;
    background-color: white;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

canvas {
    border: 2px solid white;
    background-color: black;
}

.overlay {
    position: absolute;
    // top: 0;
    // left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px; // match canvas size
    height: 400px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;

    // class whose presence decides whether screen is visible or not
    &.active {
        display: flex;
    }

    button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        background: white;
        color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}
